:root {
    --maindark: #4D4848;
    --mainneon: #AA7BC3;
    --mainlight: #f6f8ff;

}

* {
    background-color: var(--maindark);
    border: var(--mainlight) 3px dotted;
}

p {
    color: var(--mainlight);
    font-family: 'Roboto', sans-serif;

}
h1, h2, h3 {
    font-family: 'Vidaloka', serif;
    color: var(--mainneon);

}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.nav-itm {
    margin: 5px ;
    font-size: 30px;
    margin-right: 100px;

}

.name {
    margin-top: 470px;
    margin-left: 10px;
}

.name-lrg {
    font-size: 70px;
    /* text-shadow: #FC0 1px 0 10px; */
    /* text-shadow: 5px 5px var(--mainneon); */
    margin-bottom: 0px;
}
.name-p {
    margin-top: 2px;
}

.aboutme, .portfolio, .contact {
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 900px;

}

.abt-ttl, .pf-ttl, .ct-ttl {
    flex: 1;
    margin: 5px;
    margin-left: 10px;
    margin-right: 20px;
    
}

.abt-cont, .pf-cont, .ct-cont {
    flex:85%;
}